.Root {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  box-shadow: 0 2px 10px var(--black-a4);
}

.List {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid var(--mauve-6);
}

.Trigger {
  all: unset;
  font-family: inherit;
  background-color: #f09ac3;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  color: white;
  user-select: none;
  &:first-child {
    border-top-left-radius: 6px;
  }
  &:last-child {
    border-top-right-radius: 6px;
  }
  &:hover {
    color: black;
    box-shadow:
      inset 0 -1px 0 0 currentColor,
      0 1px 0 0 currentColor;
  }
  &[data-state="active"] {
    color: black;
    box-shadow:
      inset 0 -1px 0 0 currentColor,
      0 1px 0 0 currentColor;
  }
  &:focus {
    position: relative;
    box-shadow: 0 0 0 2px white;
  }
}

.Content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f09ac3;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  outline: none;
  &:focus {
    box-shadow: 0 0 0 2px black;
  }
}

.Button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  cursor: pointer;
  background-color: white;
  color: #f09ac3;
  &:hover {
    background-color: #f09ac3;
    color: white;
    box-shadow:
      10px 5px 5px white,
      -10px -5px 5px white;
  }
  &:focus {
    box-shadow: 0 0 0 2px white;
  }
}
