@import "tailwindcss";

:root {
  --background: #f09ac3;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  margin: 20px;
  overflow-x: hidden;
}

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  cursor: pointer;
  background-color: white;
  color: #f09ac3;
  &:hover {
    background-color: #f09ac3;
    color: white;
    box-shadow:
      10px 5px 5px white,
      -10px -5px 5px white;
  }
  &:focus {
    box-shadow: 0 0 0 2px white;
  }
}

fieldset {
  margin: 10px;
  padding: 10px;
  border: 5px solid pink;
}
